<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML+RDFa 1.0//EN" "http://www.w3.org/MarkUp/DTD/xhtml-rdfa-1.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:foaf="http://xmlns.com/foaf/0.1/"
	xmlns:swc="http://data.semanticweb.org/ns/swc/ontology#"
	xmlns:swrc="http://swrc.ontoware.org/ontology#"
	xmlns:bibo="http://purl.org/ontology/bibo/"
	xmlns:ical="http://www.w3.org/2002/12/cal/icaltzid#"
	xmlns:dct="http://purl.org/dc/terms/"
	xmlns:sioc="http://rdfs.org/sioc/ns#"
	xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
	xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema#"
	xmlns:v="http://rdf.data-vocabulary.org/#"
	xml:lang="en">
	<head>
		<title property="rdfs:label">USEWOD2014 - 4th International Workshop on Usage Analysis and the Web of Data</title>
		<link rel="stylesheet" href="usewodStyle.css"/>
		<link rel="stylesheet" href="usewod2014.css"/>
		<link rel="dct:creator" href="http://aprilush.ro/card#laura" />
	</head>
	<body typeof="sioc:Site" about="">
		<div id="container">
			<span rel="foaf:primaryTopic" resource="http://data.semanticweb.org/workshop/usewod/2014" />
			<div id="content">
				<div typeof="swc:WorkshopEvent v:Event" about="http://data.semanticweb.org/workshop/usewod/2014">
					<h1 style="text-align: center">
						<span property="swc:hasAcronym v:summary">USEWOD2014</span> - 
						<span property="rdfs:label v:description">4th International Workshop on Usage Analysis and the Web of Data</span>
					</h1>
				 	<!-- <p style="text-align: center">
						<span rel="swc:isSubEventOf" href="http://data.semanticweb.org/conference/eswc/2014">
							co-located with the <i property="rdfs:label">11th Extended Semantic Web Conference</i> 
							(<a 
							about="http://data.semanticweb.org/conference/eswc/2014" 
							typeof="swc:ConferenceEvent"
							rel="ical:url" 
							href="http://2014.eswc-conferences.org" 
							property="swc:hasAcronym">ESWC2014</a>)
						</span>
					</p>
					<p style="text-align: center">Anissaras, Crete, Greece, 
						<span 
						property="ical:dtstart v:startDate" 
						content="2014-05-25T09:00:00+01:00"
						datatype="xsd:dateTime">May 25th, 2014</span>
					</p>
					<p style="text-align: center"><a href="http://people.cs.kuleuven.be/~bettina.berendt/USEWOD2014/">USEWOD2014</a> is part of the <a href="http://data.semanticweb.org/usewod/" title="USEWOD">USEWOD workshop series</a>.</p>
					<span rel="ical:url" href="http://data.semanticweb.org/usewod/2014"/> -->
			  </div>

			  <!-- <h2><a id="overview"></a>Session overview and goals</h2>
        <p>Paragraph from the workshop proposal, or some text from Markus.</p>
        <p>The special theme of the workshop: building a USEWOD Web Observatory to track the distribution of research based on the USEWOD data set.</p> -->

        <div ng-app="usewod" ng-controller="prov">

        <div ng-hide="loggedin">
        <h2>Please choose a username</h2>
        <form ng-submit="setUsername()"><p><input type="text" name="username" ng-model="username"/></p></form>
      	</div>

        <div ng-show="loggedin">
        <h2>Workspace (using name: {{username}} <input type="image" src="img/list-remove.png" ng-click="removeUsername()" /> )<span class="status" ng-show="statusMessage">{{statusMessage}}</span></h2>
        <table width="100%">
          <tr>
            <td colspan="2">
            <div class='button' id='reset'><input type="image" src="img/edit-clear.png" ng-click="resetWorkspace()" /></div>
            <div class='button' id='link'><input type="image" src="img/insert-link.png" ng-click="saveLinks()" /></div>
            <h3>Connections</h3>
            <div class="workspace">
              <table>
                <tr>
                  <td id="source-obj" class="source"><a ng-href="{{sourceObject.url}}">{{sourceObject.name}}</a><br/><img ng-show="sourceObject.img" ng-src="{{sourceObject.img}}" /></td>
                  <td id="relations">
                    <div ng-repeat="relp in relationsToPub" droppable class="rel publication" data="{{relp}}">{{relp.label}}<span ng-repeat="obj in relp.objects" class="publication object" id="{{obj.id}}" data="{{obj}}"><img ng-src="{{obj.img}}" title="{{obj.title}}" /></span></div>
                    <br/>
                    <div ng-repeat="reld in relationsToDs" droppable class="rel dataset" data="{{reld}}">{{reld.label}}<span ng-repeat="obj in reld.objects" class="dataset object" id="{{obj.id}}" data="{{obj}}"><img ng-src="{{obj.img}}" title="{{obj.name}}" /></span></div>
                  </td>
                </tr>
              </table>
            </div>
            </td>
          </tr>
          <tr>
            <td width="50%">
              <div class='button'><input type="image" src="img/document-new.png" ng-click="toggleForm('pub')" /></div><h3>Publications</h3>
              <div class='spacer'>
                <div ng-repeat="pub in publications" class="publication data" id="{{pub.id}}" ng-click="selectedSource(pub, 'p')" draggable data="{{pub}}"><img ng-src="{{pub.img}}" title="{{pub.title}}" /><a href="{{pub.url}}">{{pub.title}}</a></div>
              </div>
              <div class='clear-both'></div>
              <div class="hidden" id="newpub">
                  <div class="button"><input type="image" src="img/list-add.png" ng-click="addPublication()"/></div>
                  <div class="button" ng-show="pubImg"><img name="pub-img" ng-src="{{pubImg}}" /></div>
                  <h3>Add a new publication</h3>
                  <label for="pub-title">Title</label><br/>
                  <input type="text" name="pub-title" id="pub-title" ng-model="pubTitle" ng-blur="imgSearchForPaper()" /><br/>
                  <label for="pub-author">Authors (each on a new line, "firstname lastname")</label></br>
                  <textarea rows="3" name="pub-author" id="pub-author" ng-model="pubAuthor"></textarea><br/>
                  <label for="pub-venue">Publication venue</label><br/>
                  <input type="text" name="pub-venue" id="pub-venue" ng-model="pubVenue" /><br/>
                  <label for="pub-year">Year</label><br/>
                  <input type="text" name="pub-year" id="pub-year" ng-model="pubYear" /><br/>
                  <label for="pub-url">Link (url)</label><br/>
                  <input type="text" name="pub-url" id="pub-url" ng-model="pubUrl" /><br/>
              </div>
            </td>
            <td width="50%">
              <div class='button'><input type="image" src="img/edit-table-insert-row-big-plus.png" ng-click="toggleForm('ds')" /></div><h3>Datasets</h3>
              <div class='spacer'>
                <div ng-repeat="ds in datasets" class="dataset data" id="{{ds.id}}" ng-click="selectedSource(ds, 'd')" draggable data="{{ds}}"><img ng-src="{{ds.img}}" title="{{ds.name}}" /><a href="{{ds.url}}">{{ds.name}}</a></div> 
              </div>
              <div class='clear-both'></div>
              <div class="hidden" id="newds">
                  <div class="button" id=""><input type="image" src="img/list-add.png" ng-click="addDataset()"/></div>
                  <div class="button" ng-show="dsImg"><img name="ds-img" ng-src="{{dsImg}}" /></div>
                  <h3>Add a new dataset</h3>
                  <label for="ds-name">Name</label><br/>
                  <input type="text" name="ds-name" id="ds-name" ng-model="dsName" ng-blur="imgSearchForDataset()" /><br/>
                  <label for="ds-v">Version (or date)</label></br>
                  <input type="text" name="ds-v" id="ds-v" ng-model="dsV" /><br/>
                  <label for="ds-url">Link (url)</label><br/>
                  <input type="text" name="ds-url" id="ds-url" ng-model="dsUrl" /><br/>
                  <label for="ds-about">Description</label><br/>
                  <textarea rows="3" name="ds-about" id="ds-about" ng-model="dsAbout" ></textarea><br/>
              </div>
            </td>
          <tr>
        </table>
    		</div>
    		</div>

      </div> <!-- content -->

			<div id="footer">
				<div style="text-align: center">no one knows everything, everyone knows something
					For questions and comments e-mail 
					<a href="mailto:usewod2013-chairs@googlegroups.com">USEWOD Chairs</a><br/>
					<p about="" resource="http://www.w3.org/TR/rdfa-syntax" rel="dct:conformsTo">
					  <a href="http://validator.w3.org/check?uri=referer">XHTML</a>
					  <a href="http://www.w3.org/2007/08/pyRdfa/extract?uri=referer">with RDFa</a>
          </p>
          <br/>
			  </div>
      </div> <!-- footer -->
	  </div> <!-- container -->
	
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>
    <script src="https://www.google.com/jsapi"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
    <script src="usewod-prov.js" type="text/javascript"></script>
	</body>
</html>

