<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML+RDFa 1.0//EN" "http://www.w3.org/MarkUp/DTD/xhtml-rdfa-1.dtd">
<html>
  <head>
    <title property="rdfs:label">USEWOD2014 - 4th International Workshop on Usage Analysis and the Web of Data</title>
    <link rel="stylesheet" href="usewodStyle.css"/>
    <link rel="stylesheet" href="usewod2014.css"/>
    <link rel="dct:creator" href="http://aprilush.ro/card#laura" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
  </head>
  <body typeof="sioc:Site" about="">
    <div id="container" ng-app="usewod" ng-controller="provexport">
      <span rel="foaf:primaryTopic" resource="http://data.semanticweb.org/workshop/usewod/2014" />
      <div id="content">
        <div typeof="swc:WorkshopEvent v:Event" about="http://data.semanticweb.org/workshop/usewod/2014">
          <h1 style="text-align: center">
            <span property="swc:hasAcronym v:summary">USEWOD2014</span> - 
            <span property="rdfs:label v:description">4th International Workshop on Usage Analysis and the Web of Data</span>
          </h1>
        </div>
        <h2>Export data to ProvStore</h2>
        <div class="form"><table width="100%">
          <tr>
            <td><label for="storeuser">Prov store username</label></td>
            <td width="80%"><input type="text" name="storeuser" id="storeuser" ng-model="storeuser" /></td>
          </tr>
          <tr>
            <td><label for="apikey">API key</label></td>
            <td><input type="text" name="apikey" id="apikey" ng-model="apikey" /></td>
          </tr>
          <tr>
            <td><label for="docname">Document name</label></td>
            <td><input type="text" name="docname" id="docname" ng-model="docname" /></td>
          </tr>
          <tr>
            <td><label for="participant">Participant</label></td>
            <td><input type="text" name="participant" id="participant" ng-model="participant" /></td>
          </tr>
          <tr>
            <td><label for="public">Make public</label></td>
            <td><input type="checkbox" name="public" id="public" ng-model="ispublic" /></td>
          </tr>
          <tr>
            <td></td><td><input type='button' ng-click='exportProv()' value='Export' /></td>
          </tr>
          <tr>
            <td colspan="2"><div ng-show="docid">The information was exported to the prov store document <a href="https://provenance.ecs.soton.ac.uk/store/documents/{{docid}}/">{{docid}}</a>.</div></td>
          </tr>
        </table></div>
      </div>
      <div id="footer">
        <div style="text-align: center">
          For questions and comments e-mail 
          <a href="mailto:usewod2013-chairs@googlegroups.com">USEWOD Chairs</a><br/>
          <p about="" resource="http://www.w3.org/TR/rdfa-syntax" rel="dct:conformsTo">
            <a href="http://validator.w3.org/check?uri=referer">XHTML</a>
            <a href="http://www.w3.org/2007/08/pyRdfa/extract?uri=referer">with RDFa</a>
          </p>
          <br/>
        </div>
      </div> <!-- footer -->
    </div> <!-- container -->
    <script src="http://code.jquery.com/jquery-1.10.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="provstoreapi.js"></script>
    <script src="http://www.myersdaily.org/joseph/javascript/md5.js"></script>
    <script src="usewod-prov-export.js" type="text/javascript"></script>
  </body>
</html>
