div#footer {
  background: #92AAC2;
  color: #20252B;
}

th
{
	color: #20252B;
  background-color: #92AAC2;
}

h1, h2, h3 {
  color: #20252B;
  background-color: #92AAC2;
}

div.button {
  float: left;
  width: 60px;
  height: 60px;
  margin: 10px;
  border: 1px;
  border-radius: 15px 15px;
  box-shadow: inset 0 0 1em #92AAC2;
}
div.selected {
  box-shadow: inset 0 0 1em #5CCCCC;
  background-color: #005555;
}
div.button input {
  /*display: none;  */
  vertical-align: center;
  padding: 14px 14px 14px 14px;
  width: 32px;
  height: 32px;
}

div.clear-both {
  clear: both;
}